.table-container {
    width: 100%;
    overflow-x: auto; /* Para hacer la tabla responsive */
  }
  .filter-form {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .filter-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .filter-button {
    padding: 10px 20px;
    font-size: 12px;
    color: white;
    background-color:  #1a0e3c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    text-align: left;
  }
  
  .custom-table th, .custom-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  .custom-table th {
    background-color:#1a0e3c; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
  }
  
  .custom-table tr:nth-child(even) {
    background-color: #f3f3f3; /* Color de fondo de las filas pares */
  }
  
  .custom-table tr:hover {
    background-color: #eaeaea; /* Color de fondo al pasar el ratón por encima de una fila */
  }
  